{% extends "base.html" %}
{% block content %}

{% for post in post_list %}
<article class="post post-{{ post.pk }}">
    <header class="entry-header">
        <h1 class="entry-title">{{ post.title }}</a>
        </h1>
        <div class="entry-meta">
            <span class="post-category"><a href="#">分類{{post.genre_name}}</a></span>
            <span class="post-date"><a href="#"><time class="entry-date"
                datetime="2012-11-09T23:15:57+00:00">發布時間{{ post.created_time }}</time></a></span>
            <span class="post-author"><a href="#">作者{{post.author}}</a></span>
            <span class="comments-link"><a>評論數</a></span>
            <span class="views-count"><a>閱讀次數{{post.times}}</a></span>
        </div>
    </header>
    <div class="entry-content clearfix">
        <p>{{post.body|truncatechars:70}}</p>
        <div class="read-more cl-effect-14">
            <a href="{% url 'post-id' post.pk %}" class="more-link">繼續閱讀 <span class="meta-nav">→</span></a>
        </div>
    </div>
</article>
<!--<div class="no-post">暫時還沒有釋出的文章！</div>-->
{% endfor %}
<!-- 简单分页效果
<div class="pagination-simple">
    <a href="#">上一页</a>
    <span class="current">第 6 页 / 共 11 页</span>
    <a href="#">下一页</a>
</div>

<div class="pagination">
    <ul>
        <li><a href="">1</a></li>
        <li><a href="">...</a></li>
        <li><a href="">4</a></li>
        <li><a href="">5</a></li>
        <li class="current"><a href="">6</a></li>
        <li><a href="">7</a></li>
        <li><a href="">8</a></li>
        <li><a href="">...</a></li>
        <li><a href="">11</a></li>
    </ul>
</div>
-->
{% endblock %}